@import '../../styles/base.scss';

.check-description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    color: $black;
    border: 1px solid $dark-green-color;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    
    &:checked {
      background: $dark-green-color;
      &::before {
        opacity: 1;
      }
      
    }
  }
.nextPage{
  width: 5em;
  height: 2em;
  background-color: $white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 5px;
  &:hover:enabled{
    box-shadow: $light-green-color 0px 5px 15px;

  }
}