@import '../../styles/base.scss';
$bg-img: '../../assets/img/eye.png';
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5em 0 5em;

}
.user-name-input{
    width: 40em;
    height: 2em;
}
input[type=text]:focus{
    outline-color: $light-green-color;
}
.user-password {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.new-password-container{
    display: flex;
align-items: center;}
.new-password-input{
    width: 15em;
    height: 3em;
}
.new-password-button{
    margin-left: -35px;
    width: 2em;
    height: 2em;
    background-image: url('../../assets/img/eye.png');
    background-color: #FFFFFF;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.new-password-button-private{
    margin-left: -35px;
    width: 2em;
    height: 2em;
    background-image: url('../../assets/img/private.png');
    background-color: #FFFFFF;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
input[type=password]:focus{
    outline-color: $light-green-color;
}
.password-security{
    display:flex;
    position: relative;
    width: 204px;
    height: 8px;
    margin-left: 2px;
    margin-top: -10px;
}
.clue-text-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.clue-text-info{
    background-color:blue;
    color: $white;
    text-align: center;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}